.header-media {
    margin-left: 32px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    gap: 20px;
}
    .header-media__link {
        margin: -4px;
        padding: 4px;
        padding-left: 24px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 13px;
        line-height: 18px;
        color: #666666;
    }

    .header-media__link--whatsapp {
        background-image: url("../images/header-media-whatsapp.svg");
    }

    .header-media__link--telegram {
        background-image: url("../images/header-media-telegram.svg");
    }



.mobile-channels {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    padding-top: 4px;
}
    .mobile-channels__original-phone-section {

    }

    .mobile-channels__media {
        display: flex;
        align-items: stretch;
        gap: 4px;
    }
        .mobile-channels__link {
            padding: 6px 4px;
            padding-left: 16px;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: left center;
            font-size: 11px;
            line-height: 18px;
            color: #222222;
        }

        .mobile-channels__link--whatsapp {
            background-image: url("../images/header-media-whatsapp.svg");
        }

        .mobile-channels__link--telegram {
            background-image: url("../images/header-media-telegram.svg");
        }



.footer-media {
    padding-left: 43px;
    margin-bottom: 19px;
    background-image: url("../images/footer-media.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left 3px;
    display: flex;
    flex-direction: column;
}
    .footer-media__link {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .footer-media__link:hover {
        color: #FFFFFF;
    }

    .footer-media__link--whatsapp {
        background-image: url("../images/header-media-whatsapp.svg");
    }

    .footer-media__link--telegram {
        background-image: url("../images/header-media-telegram.svg");
    }


@media (max-width: 767px) {

    .footer-media {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        background-image: none;
        padding-left: 0;
    }
}


