.nobr {
    white-space: nowrap;
}

.header-media {
    margin-left: 32px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    gap: 20px;
}
    .header-media__link {
        margin: -4px;
        padding: 4px;
        padding-left: 24px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 13px;
        line-height: 18px;
        color: #666666;
    }

    .header-media__link--whatsapp {
        background-image: url("../images/media-whatsapp.svg");
    }

    .header-media__link--telegram {
        background-image: url("../images/media-telegram.svg");
    }



.menu-media {
    display: flex;
    flex-direction: column;
}
    .menu-media__link {
        padding: 4px 4px 4px 50px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 20px center;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
    }

    .menu-media__link--whatsapp {
        background-image: url("../images/media-whatsapp.svg");
    }

    .menu-media__link--telegram {
        background-image: url("../images/media-telegram.svg");
    }



.mobile-channels {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    padding-top: 4px;
}
    .mobile-channels__original-phone-section {

    }
        .infoTel {
            display: block; /* По какой-то причине телефон скрывался на планшетах. Возвращаем. */
        }

    .mobile-channels__media {
        display: flex;
        align-items: stretch;
        gap: 4px;
    }
        .mobile-channels__link {
            padding: 6px 4px 6px 18px;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: left center;
            font-size: 11px;
            line-height: 18px;
            color: #222222;
        }

        .mobile-channels__link--whatsapp {
            background-image: url("../images/media-whatsapp.svg");
        }

        .mobile-channels__link--telegram {
            background-image: url("../images/media-telegram.svg");
        }



.footer-media {
    padding-left: 43px;
    padding-top: 2px;
    margin-bottom: 19px;
    background-image: url("../images/fa-comments.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left top;
}
    .footer-media__heading {
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }

    .footer-media__list {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
    }
        .footer-media__link {
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 24px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: left center;
            font-size: 13px;
            line-height: 18px;
            color: #FFFFFF;
        }

        .footer-media__link:hover {
            color: #FFFFFF;
        }

        .footer-media__link--whatsapp {
            background-image: url("../images/media-whatsapp.svg");
        }

        .footer-media__link--telegram {
            background-image: url("../images/media-telegram.svg");
        }


@media (max-width: 767px) {

    .footer-media {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        background-image: none;
        padding-left: 0;
    }
        .footer-media__heading {
            display: none;
        }

        .footer-media__list {
            margin-top: 0;
        }
}



.contacts-grid {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
    .contacts-grid__item {
        flex-grow: 1;
        flex-basis: 0;
    }
        .contacts table td .fa.big-icon {
            margin: 0 16px 16px 0;
        }

        @media (min-width: 992px) and (max-width: 1200px) {
            .contacts.contacts-page-map-overlay table td:first-child {
                display: none;
            }
        }

@media (max-width: 991px) {

    .contacts-grid {
        display: block;
    }
        .contacts-grid__item {
            margin-top: 24px;
        }
}    



.contacts-media {
    display: flex;
    flex-direction: column;
}
    .contacts-media__link {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 13px;
        line-height: 18px;
        color: #666666;
    }

    .contacts-media__link:hover {
        color: #666666;
    }

    .contacts-media__link--whatsapp {
        background-image: url("../images/media-whatsapp.svg");
    }

    .contacts-media__link--telegram {
        background-image: url("../images/media-telegram.svg");
    }



.services-media {
    padding-top: 16px;
}
    .services-media__heading {
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
    }

    .services-media__list {
        display: flex;
        align-items: stretch;
        gap: 12px;
    }
        .services-media__link {
            padding: 8px 4px 8px 24px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: left center;
            font-size: 13px;
            line-height: 18px;
            color: #666666;
        }

        .services-media__link--whatsapp {
            background-image: url("../images/media-whatsapp.svg");
        }

        .services-media__link--telegram {
            background-image: url("../images/media-telegram.svg");
        }


@media (max-width: 767px) {
    .maxwidth-banner {
        background-size: cover !important;
        background-position: center center;
    }
}
